* {
    font-family:Arial, Helvetica, sans-serif
}
header {
    background-color: darkgreen;
    padding: 8px;
    
}

a {
    text-decoration: none;
}

.header-link{
    display: inline;
    font-size: large;
    margin-left: 40px;
}

.link {
    color: white;
}

.navigation {
    text-align: right;
}

#main {
    margin: auto;
    border-top: 10px solid rgb(206, 186, 159);
}

h1,
h3 {
    text-align: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
}

.contact-section{
    background-color: rgb(206, 186, 159);
}

.name,
.email {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.form-section {
    border: 5px solid tan;
}

.contact-section {
    border: 20px solid rgb(206, 186, 159);
}

footer{
    background-color: darkgreen;
    border-bottom: 10px solid black;
    color: white;
}

#footer-text{
    margin-top: auto;
    margin-bottom: auto;
}

#fixed-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 5%;
}